/* Add Font Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}


body,
head {
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 100%;
}

/* Navigation Hover In Dropdown Manu */
@media only screen and (min-width: 991px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}


#companytitle {
    text-align: justify;
    font-size: medium;
    font-weight: 400;
}

.removeUnderline {
    text-decoration: none;
}


.removeUnderline:hover {
    text-decoration: underline;
    background-color: white;
}





@media only screen and (min-width: 768px) {
    .card {
        height: 40rem;
    }

    .image-wrapper img {
        height: 25rem;
        padding: 0 0.5rem;
    }
}


/* Navigation Hover In Dropdown Manu */
@media only screen and (max-width: 767px) {
    .card {
        height: 40rem;
        width: 18rem;
    }

    .image-wrapper img {
        height: 25rem;
        padding: 0 0.5rem;
    }
}


/* Start The Add Card Next And Prev Button Decoration. */
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
    color: white !important;
    background-color: rgba(105, 105, 105, 0.4) !important;
    font-size: xx-large;
    width: 10%;
    height: 80%;
    z-index: 2;
    position: absolute;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    color: white !important;
    background-color: rgba(105, 105, 105, 0) !important;
    font-size: xx-large;
    width: 10%;
    height: 80%;
    z-index: 2;
    position: absolute;
}

.owl-next {
    top: 0;
    right: 0;
}

.owl-prev {
    top: 0;
    left: 0;
}
/* End The Add Card Next And Prev Button Decoration. */